<h2>About JobThing</h2>
<p>Recruitment is hard. Firstly, there's the job ads, then the rounds of interviews and ultimately it's all down to a final gamble on whether the relationship flourishes.
<br/><br/>
JobThing wants to take some of that gamble out of the game.<br/><br/>

Like any gamble, the odds are improved the more factors can the taken as 'known'. This is one reason why endrosements and recommendations go a long way in the recruitment game. Imagine if you're own recommandation network could easily expanded to include your trusted circle  of contacts. <br/><br/>

This is where JobThing enters the game. <br/><br/>

Share Opportunities. Share recommendations<br/>
Share your network and reap the rewards.<br/><br/>

JobThing is a platform to share opportunities across professional social networks. It allows ads to be shared between network members and referral fees to be split and spread. <br/><br/>

Recruitment is hard. Let JobThing make it a little easier.
</p>