<div class="job-spec">
  <h1>{{ .Title }}</h1>
  <p>{{ .Link }}</p>
  <p>{{ .Description | unescape }}</p>
  <p class="job-rate">Rate: {{ .Rate }}</p>
  <p class="job-contact">Contact: <a href="mailto:{{ .Contact_email }}">{{ .Contact_email }}</a></p>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Generate Referral Link</h3>
    </div>
    <div class="panel-body">
        <form role="form" method="POST" action="/gen">
            <div class="form-group">
                <label for="exampleInputEmail1">Your Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            <p class="help-block">We won't send you any emails unless your referral is successful.</p>

            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>

