<div class="page-header">
  <h1>Post a New Job</h1>
</div>

    {{if .HasErrors}}
    <div class="alert alert-danger" role="alert">
      {{range .Errors}}
      <p><strong>{{.FieldNames}}</strong> is {{.Message}}</p>
      {{end}}
    </div>
    {{end}}

    <form role="form" method="POST" action="/jobs/post">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="Title" placeholder="Job Title (e.g. Java Software Engineer)" value="{{.job.Title}}">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea rows="8" class="form-control nicetextarea" name="Description" placeholder="Enter a description here. Try to include as much detail as possible. Basic HTML is allowed.">{{.job.Description}}</textarea>
      </div>
      <div class="form-group">
        <label for="job-type">Job Type</label>
        <select name="JobType">
          <option value="Permanent" {{if eq .job.JobType "Permanent"}}selected="selected"{{end}}>Permanent</option>
          <option value="Contract" {{if eq .job.JobType "Contract"}}selected="selected"{{end}}>Contract</option>
          <option value="Permanent or Contract" {{if eq .job.JobType "Permanent or Contract"}}selected="selected"{{end}}>Permanent or Contract</option>
        </select>
      </div>
      <div class="form-group">
        <label for="rate">Rate</label>
        <input type="text" class="form-control" name="Rate" placeholder="Rate (e.g. £50000/year or £500/day)" value="{{.job.Rate}}">
      </div>
      <div class="form-group">
        <label for="contact_email">Contact Email</label>
        <input type="email" class="form-control" name="ContactEmail" placeholder="Who is recruiting for this job? Enter recruiter's email address here." value="{{.job.ContactEmail}}">
      </div>
      <div class="form-group">
        <label for="email">Your Email address</label>
        <input type="email" class="form-control" name="UserEmail" placeholder="Enter your email" value="{{.job.UserEmail}}">
        <p class="help-block">We won't send you any emails unless your referral is successful. In that case, we will need to contact you to pay any referral fees due.</p>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Post</button>
    </form>
